
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>



        <h2>View</h2>

        <h2>ProductDetails Form</h2>

        <table>
            <tr>
                <td>ProductName</td>
                <td><input type="text" id="ProductName" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" id="Price" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" id="Description" /></td>
            </tr>


            <tr>
                <td><button id="btnSubmit" onclick="ProductDetails()">Submit</button></td>

            </tr>
        </table>


        <script type="text/javascript">

    function SaveStudentDetails() {
        $.ajax({
            url: "ProductInformation/SaveProductDetails",
            type: 'GET',
            data: {
                ProductName: $("#txtProductName").val(),
                Price: $("#Price").val(),
                Description: $("#Description").val(),

            },
            dataType: 'json',

            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                alert(result)
            },
            error: function (error) {
                alert(error)
            }
        });
    }

        </script>
    </div>
</body>
</html>
